In [97]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle
from sklearn.preprocessing import LabelEncoder

In [98]:
df = pd.read_pickle("data.pkl")

In [99]:
df.head()

   type  inside_eye  outside_eye        jaw     temple  vert_nose
0  ESTJ    0.000000     0.000000   0.000000   0.000000   0.000000
1  ESTJ    0.000000     0.000000   0.000000   0.000000   0.000000
2  ESTJ   24.083189    56.142675  50.009999  96.020831  38.209946
3  ESTJ    0.000000     0.000000   0.000000   0.000000   0.000000
4  ESTJ    0.000000     0.000000   0.000000   0.000000   0.000000

In [100]:
clean_df = df[(df.inside_eye > 0) & (df.outside_eye > 0) &(df.jaw > 0) & (df.temple > 0) & (df.vert_nose > 0)]

In [101]:
clean_df.head()

    type  inside_eye  outside_eye        jaw      temple  vert_nose
2   ESTJ   24.083189    56.142675  50.009999   96.020831  38.209946
5   ESTJ   41.000000    97.020616  68.308125  151.013244  57.035077
7   ESTJ   24.000000    58.000000  55.154329  103.004854  33.000000
8   ESTJ   32.062439    71.063352  60.008333  114.004386  42.011903
11  ESTJ   22.022716    46.043458  44.147480   84.095184  28.071338

In [102]:
clean_df.shape
labelencoder = LabelEncoder()
data = clean_df
data['type_enc'] = data['type'].astype('category').cat.codes
data.head()

/Users/spencerviviano/Documents/venv/ml/ml37/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

    type  inside_eye  outside_eye        jaw      temple  vert_nose  type_enc
2   ESTJ   24.083189    56.142675  50.009999   96.020831  38.209946         5
5   ESTJ   41.000000    97.020616  68.308125  151.013244  57.035077         5
7   ESTJ   24.000000    58.000000  55.154329  103.004854  33.000000         5
8   ESTJ   32.062439    71.063352  60.008333  114.004386  42.011903         5
11  ESTJ   22.022716    46.043458  44.147480   84.095184  28.071338         5

In [103]:
predict = "type_enc"
data = data.drop('type', 1)
X = np.array(data.drop([predict], 1))
y = np.array(data[predict])

In [104]:
X

array([[ 24.08318916,  56.14267539,  50.009999  ,  96.02083107,
         38.20994635],
       [ 41.        ,  97.02061637,  68.30812543, 151.01324445,
         57.03507693],
       [ 24.        ,  58.        ,  55.15432893, 103.00485425,
         33.        ],
       ...,
       [ 19.10497317,  44.28317965,  33.54101966,  82.49242389,
         30.06659276],
       [ 27.16615541,  58.69412236,  51.42956348,  96.87620967,
         37.21558813],
       [ 23.02172887,  55.08175742,  40.49691346,  83.05419917,
         30.01666204]])

In [105]:
y

array([5, 5, 5, ..., 1, 1, 1], dtype=int8)

In [111]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size= 0.1)

In [112]:
linear = linear_model.LinearRegression()

In [113]:
linear.fit(x_train, y_train)

LinearRegression()

In [114]:
acc = linear.score(x_test, y_test)

In [115]:
acc

0.0030420243350157694